/* --- global settings--------------------------------------------------------- */

* {
    margin: 0;
    padding: 0; 
}

/* --- standard elements ------------------------------------------------------ */

html, body {

    margin-top: 0;
    position: relative;
    font-size: 16px;
    font-family: Arial, Tahoma, "Times New Roman", Times, serif;
    background-color: beige;
    min-height: 100vh;
}

main {
    margin: 0;
    /* width: 100vh; */
    overflow: auto;
}


/* --- header/footer ---------------------------------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 100%;
    text-align: center;
    background-color: seagreen;
    /* font-family: Verdana, Hevetica, Arial, sans-serif; */
}

#footerMessage {
    font-family: Verdana, Hevetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: gold;
}

#copyRight {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: gold;
}


/* --- id's ------------------------------------------------------------------- */

#container {
    min-height: auto;
    min-width: 100%;
    /* width: 200px; */
}


#logInWelcomeMessage {
    float: left;
    margin-left: 18px;
    margin-top: 20px;
    width: 1200px;
    font-size: 26px;
}

#logOutMessage {
    float: left;
    margin-left: 18px;
    margin-top: 20px;
    width: 1200px;
    font-size: 26px; 
}

#logInMessage {
    float: left;
    margin-top: 8px;
    margin-left: 42px;
    width: 1000px;
    font-size: 22px;
}

#logInForm {
    float: left;
    margin-top: -270px; 
    margin-left: 82px;
    width: 550px;
    height: 125px;
    font-size: 18px;
}

#enterUserName {
    width: 160px;
    height: 28px;
    margin-bottom: 12px;
    font-size: 18px;
}

#enterPassword {
    width: 120px;
    height: 28px;
    font-size: 18px;
}

#logInSummary {
    clear: both;
    float: left;
    margin-top: -15px;
    margin-bottom: 0;
    margin-left: 45px;
    font-size: 24px;
}

#forgotPassword {
    float: left;
    margin-top: -75px;
    margin-left: 125px;
    font-size: 16;
}

#helloMessage {
    float: left;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}    

#welcomeMessage { 
    float: left;
    margin-top: 12px;
    margin-left: 175px;
    font-size: 24px;
    font-weight: bold;
}

#lastLogInMessage {
    float: left;
    margin-left: 250px; 
    font-size: 18px;  
}

#employeePic img {
    float: left;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 18px;
    border: 6px solid seagreen;
    /* border-radius: 18px; */
    padding: .5px;
    height: 300px;
    width: 235px;  
    clear: both;
}

#portalSummaryHeading {
    clear: right;
    float: right;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 500px;
    font-size: 20px;
    font-weight: bold;
}

#importantAnnouncements, #employeeScheduleInfo, #employeePersonalInfo, #employeePayrollInfo, #trainingInfo {
    float: left;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-left: 22px;
    height: 36px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-family: Verdana, Hevetica, Arial, sans-serif;
    background: linear-gradient(to right, hsl(142, 40%, 39%) 33%, #ffff00 80%);
    color: yellow;
    clear: both;
}

#employeeCalendar {
    /* float: left; */
    margin-top: 90px;
    margin-bottom: 12px;
    margin-left: 18px;
    border: 8px solid seagreen;
    /* border-radius: 18px; */
    padding: -1px;
    height: 338px;
    width: 914px;  
    clear: both;
}

#currDateHeading {
    float: left;
    margin-left: 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;  
}

#workedHoursHeading {
    float: left;
    margin-left: 48px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;
}

#vacHoursHeading {
    margin-left: 425px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;
}

#currWeekHeading {
    float: left;
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

#currDate {
    /* clear: left; */
    /* float: left; */
    margin-left: 10px;
    font-size: 18px;
    list-style-type: none; 
}

#currWeekWorkedHours {
    float: left;
    margin-left: 40px;
    font-size: 18px;
    list-style-type: none;
}

#totVacHoursHeading {
    float: left;
    margin-left: 206px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

#totVacHours {
    margin-left: 60px;
    font-size: 18px;
    list-style-type: none;
}

#prevWeekHeading {
    float: left;
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

#prevWeekWorkedHours {
    float: left;
    margin-left: 26px;
    font-size: 18px;
    list-style-type: none;
}

#takenVacHoursHeading {
    float: left;
    margin-left: 200px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

#takenVacHours {
    margin-left: 74px;
    font-size: 18px;
    list-style-type: none;
}

#remainingVacHoursHeading {
    float: left;
    margin-left: 440px;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    clear: both;
}

#remainingVacHours {
    float: left;
    margin-left: 30px;
    font-size: 18px;
    list-style-type: none;
}

#employeeInfoPageHeading {
    margin-top: 18px;
    display: block;
    text-align: center;
    font-size: 24px;
}

#vacHoursSummary {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50  px;
}

#personalInfo {
    clear: both;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 54px;
    font-size: 18px;
    font-weight: bold;
}

#jobTitle {
    display: inline;
    margin-left: 92px;
    font-size: 18px;
}

#homeAddr {
    display: inline;
    margin-left: 94px;
    font-size: 18px;
}
   
#homePhone {
    display: inline;
    margin-left: 52px;
    font-size: 18px;
}
    
#cellPhone {
    display: inline;
    margin-left: 70px;
    font-size: 18px;
}
   
#workPhone {
    display: inline;
    margin-left: 58px;
    font-size: 18px;
}
   
#workEmail {
    display: inline;
    margin-left: 66px;
    font-size: 18px;
    }
     
#personalEmail {
    display: inline;
    margin-left: 32px;
    font-size: 18px;
}

#payrollViews {
    margin-top: 20px;
    margin-left: 30px;
}

#payStub {
    position: relative;
    display: grid;
    min-width: 100vh;
    height: auto;
    margin-top: -90px;
    margin-bottom: 10px;
    margin-left: 400px;
}

#profileInfoForm {
    min-height: auto;
    min-width: 100%;
    margin-top: 24px;
}

#detailHeading_Profile {
    margin-left: 475px;
    font-size: 18px;
    font-weight: bold;
}

#employeeName_Profile {
    margin-left: 5px;
    font-size: 18px;
    background-color: lightgray;
}

#userName_Profile {
    margin-left: 53px;
    font-size: 18px;
    background-color: lightgray;
}
#passWord_Profile {
    margin-left: 57px;
    font-size: 18px;
    background-color: lightgray;
}

#addr1_Profile {
    margin-left: 54px;
    font-size: 18px;
}

#addr2_Profile {
    margin-left: 54px;
    font-size: 18px;
}

#city_Profile {
    margin-left: 108px;
    font-size: 18px;
}

#state_Profile {
    margin-left: 98px;
    font-size: 18px;
}

#zip_Profile {
    margin-left: 64px;
    font-size: 18px;
}

#homePhone_Profile {
    margin-left: 32px;
    font-size: 18px;
}

#cellPhone_Profile {
    margin-left: 49px;
    font-size: 18px;
}

#workPhone_Profile {
    margin-left: 38px;
    font-size: 18px;
}

#workEmail_Profile {
    margin-left: 44px;
    font-size: 18px;
}

#personalEmail_Profile {
    margin-left: 12px;
    font-size: 18px;
}

#holidaySchedPage {
    clear: both;
    margin-top: 40px;
    min-height: auto;
    max-width: 1300px;
    text-align: center;
}

#holidaySchedMessage {
    margin-top: 10px;
    margin-left: 40px;
    justify-content: center;
    /* margin-left: 30px; */
    max-width: 1200px; 
}

#passWordResetForm {
    margin-top: 24px;
}

#passWordResetHeading {
    margin-left: 100px;
    margin-top: 18px;
    margin-bottom: 38px;
    display: block;
    /* text-align: center; */
    font-size: 24px;
}

#passWordResetDetailHeading {
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
}

#changePassWord {
    float: right;
    margin-top: 75px;
    margin-right: 275px;
}

#userName {
    margin-left: 98px;
}

#employeeIDNbr {
    margin-left: 6px;
}

#newPassWord {
    margin-left: 156px;
}

#newPassWordConfirm {
    margin-left: 82px;
}

#workPlaceSafetyPolicyImg {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 300px;
    min-height: auto;
    min-width: 50%;
    /* height: 900px;
    width: 800px; */
}

/* --- classes----------------------------------------------------------------- */

.portalSummaryLines {
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 50px;
    font-size: 20px;
    list-style: none;
}

.homePageSubHeadings {
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    /* margin: 12px; */
    clear: both;
}

.announcement {
    margin-left: 34px;
    font-size: 18px;
}

.announcementDocument {
    margin-top: 30px;
    margin-left: 18px;
}

.personalInfoHeadings {
    display: inline;
    margin-left: 52px;
    font-size: 18px;
    font-weight: bold;
}

.includePersonalEmail {
    margin-top: 24px;
    margin-bottom: 14px;
    margin-left: 220px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    justify-content: center;
}

.viewPayStub {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 4px;
    padding: 0;
    padding-left: 20px;
    font-size: 18px;
}

.viewAltPayStub {
    float: left;
    margin-top: 425px;
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.holidayDates {
    font-family: Arial;
    font-size: 18px;
    /* max-width: 100%; */
}

.vacHoursSummaryHeading {
    /* margin-bottom: 20px; */
    margin-left: 50px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    clear: right    ;
}

.vacHoursSummaryDetail {
    float: right;
    margin-right: 1120px;
    font-size: 20px;
}

.trainingSubHeading {
    
    clear: right;
    float: left;
    margin-bottom: 25px;
    margin-left: 54px;
    padding: 0%;
    /* margin-right: 10px; */
    font-size: 18px;
}

.row {
    box-sizing: border-box;   
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {
    float: left;
    padding: 10px;
  }
  
  .col-1 {width: 2%;}
  .col-2 {width: 15%;}
  .col-3 {width: 10%;}
  .col-4 {width: 12%;}
  .col-5 {width: 10%;}
  .col-6 {width: 42%;}
  
.vacTableTxtHeading {
    font-size: 18px;
    min-width: 20px;
    padding-right: 4px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    list-style-type: none;
}

.vacTableTxtDetail {
    justify-content: left;
    list-style-type: none;
}

.vacTableNumHeading {
    font-size: 18px;
    min-width: 20px;
    padding-right: 4px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    list-style-type: none;
}

.vacTableNumDetail {
    text-align: center;
    list-style-type: none;
}


/* --- buttons ---------------------------------------------------------------- */

#logInButton {                              /* log in button */
    display: block;
    margin-top: 34px;
    margin-left: 90px;
    width: 76px;
    height: 24px;
    background: rgb(8, 104, 51);
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#logInButton:hover {                    
    background-color: lightgray;
    color: black;
}

.navButtonArea {
    float: right;
    margin-right: 20px;
}

.navButtonContainer {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}

.navButton {                               /* nav buttons */
    /* display: block; */
    margin: 10px;
    margin-top: 10px;
    width: 94px;
    height: 28px;
    background-color: seagreen;
    padding: 2px;
    padding-top: 10px;
    border-radius: 15px;
    text-align: center;
    /* vertical-align: middle; */
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navButton:hover {
    background-color: lightgray;
    color: black;
}

.payStubButton {                               /* nav buttons */
    /* display: block; */

    margin: 10px;
    margin-top: 10px;
    width: 94px;
    height: 28px;
    background-color: seagreen;
    padding: 2px;
    padding-top: 10px;
    border-radius: 15px;
    text-align: center;
    /* vertical-align: middle; */
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-overflow: clip;
}

.payStubButton:hover {
    background-color: lightgray;
    color: black;
}

#vacInfoButton {                            /* vac button */
    clear: both;
    float: left;
    display: block;
    width: 140px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: 48px;
    padding: 2px;
    padding-top: 8px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: seagreen;
}

#vacInfoButton:hover {
    background-color: lightgray;
    color: black;
}

.addrChangeButton {                         /* addr change button */
    float: left;
    display: block;
    width: 130px;
    height: 48px;
    margin-top: 22px;
    margin-bottom: 12px;
    margin-left: 48px;
    padding: 2px;
    padding-top: 8px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background: seagreen;
    color: white;
}

.addrChangeButton:hover {
    background-color: lightgray;
    color: black;
}

.toTopOfPageButton {                        /* top of page button */
    float: left;
    display: block;
    width: 120px;
    height: 32px;
    margin-bottom: 65px;
    margin-left: 48px;
    padding: 2px;  
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    background: seagreen;
    color: white;
}

.toTopOfPageButton:hover {
    background-color: lightgray;
    color: black;
}

#profileInfoUpdate {
    margin-top: 24px;
    margin-left: 630px;
    width: 118px;
    height: 40px;
    background-color: seagreen;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}

#profileInfoUpdate:hover {
background-color: lightgray;
color: black;
}

#viewHolidaySched {
    /* clear: both; */
    float: left;
    display: block;
    width: 190px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: 24px;
    padding: 2px;
    padding-top: 8px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: seagreen;
   /*
    margin-top: 100px;
    margin-left: 100px;
    width: 180px;
    height: 40px;
    background-color: seagreen;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    */
}

#viewHolidaySched:hover {
background-color: lightgray;
color: black;
}

#passWordChange {
    /* float: left; */
    display: block;
    width: 90px;
    height: 40px;
    margin-top: 30px;
    margin-left: 680px;
    /* padding: 2px;  */
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    background: seagreen;
    color: white;
}

#passWordChange:hover {
    background-color: lightgray;
    color: black;
}

#passWordChangeCancel {
    /* float: left; */
    /* clear: both; */
    display: block;
    width: 76px;
    height: 23px;
    margin-top: -38px;
    margin-left: 790px;
    /* margin-right: 0; */
    padding: 6px; 
    padding-top: 7px;
    /* padding-bottom: 0px; */
    text-align: center;
    font-weight: bold;
    border-radius: 14px;
    font-size: 18px;
    background: seagreen;
    color: white;
}

#passWordChangeCancel:hover {
    background-color: lightgray;
    color: black;
}

#passWordReset {
    /* float: left; */
    display: block;
    width: 90px;
    height: 40px;
    margin-top: 30px;
    margin-left: 370px;
    /* padding: 2px;  */
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    background: seagreen;
    color: white;
}

#passWordReset:hover {
    background-color: lightgray;
    color: black;
}

#passWordResetCancel {
    /* float: left; */
    /* clear: both; */
    display: block;
    width: 76px;
    height: 23px;
    margin-top: -38px;
    margin-left: 480px;
    /* margin-right: 0; */
    padding: 6px; 
    padding-top: 7px;
    /* padding-bottom: 0px; */
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    background: seagreen;
    color: white;
}

#passWordResetCancel:hover {
    background-color: lightgray;
    color: black;
}


/* --- carousel --------------------------------------------------------------- */
       
div#carousel > figure > img {
    display: none;
    margin: 0px auto;
}

div#carousel > figure.visible > img {
    clear: both;
    float: right;
    display: block;
    margin-top: -50px;
    margin-right: 100px;
    width: 575px;
    height: 350px;
    position: relative;
    overflow: scroll;
}

div#carousel > figure > figcaption {
    display: none;
}

div#carousel > figure.visible > figcaption {
    clear: both;
    display: block;
    float: right;
    margin-right: 80px;
    width: 640px;
    /* height: 48px; */
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 24px;
}